
/* fonts */
@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-Regular.woff2);
    //font-display: swap
}
/* color palet */
@colorPrimaryOne: #afca52;
@colorPrimaryTwo:#00aff1;
@colorSecundaryOne: #284561;
@colorSecundaryTwo:#f4f4f4;
@colorSecundarythree:#ffffff;
@colorSecundaryFour:#121212;
@colorSecundaryFive:#A1C3E4;
@colorGradient:linear-gradient(50deg, rgba(0,175,241,1) 0%, rgba(40,69,97,1) 100%);
@colorthree: #111111;
@colorPrimaryTrasparence: #afca52a1;
@colorborder: #cecece;

@colorDangerOne:#a94442;
@colorDangertwo:#f2dede;
@colorDangertree:#ebccd1;

@colorsuccessOne:#3c763d;
@colorsuccesstwo:#dff0d8;
@colorsuccesstree:#d6e9c6;
/* configuracion general*/

::selection{
	background: @colorPrimaryTwo;
	color: @colorSecundarythree;
}
body{
	font-family: Comfortaa;
	margin: 0;
	background-color: @colorSecundarythree;
}

.container{
	width: 80%;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
	margin-left: auto;
	
	&:before{
		display: table;
		content: "";
	}
}s

.row{
	margin-right: -15px;
	margin-left: -15px;
	&:before{
		display: table;
		content: "";
	}
}

a{
	color: @colorSecundarythree;
	text-decoration: none;

}
.shadow{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(40,69,97,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(40,69,97,1);
	box-shadow: 0px 0px 10px 0px rgba(40,69,97,1);
}
.shadowTwo{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(40,69,97,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(40,69,97,1);
	box-shadow: 0px 0px 5px 0px rgba(40,69,97,1);
}
.shadowIcon{
	-webkit-box-shadow: 3px 0px 10px 0px rgba(40,69,97,1);
	-moz-box-shadow: 3px 0px 10px 0px rgba(40,69,97,1);
	box-shadow: 3px 0px 10px 0px rgba(40,69,97,1);
}

.border{
	border-radius: 20px;
}

.shadowNone{
	-webkit-box-shadow: 0px 0px 0px 0px rgba(40,69,97,1) !important;
	-moz-box-shadow: 3px 0px 0px 0px rgba(40,69,97,1) !important;
	box-shadow: 0px 0px 0px 0px rgba(40,69,97,1) !important;
}

.margin-Top-Button{
	margin-top: 50px;
	margin-bottom: 50px;
}

.paddin{
	padding-top: 70px !important;
	padding-bottom: 70px !important;
	padding-left: 50px !important;
	padding-right: 50px !important;
}

.col-1-2.padding-p{

	 padding: 40px !important;
}

.width-80{
	width: 70%;
}
.width-70{
	width: 65% !important;
}
.width-90{
	width: 90% !important;
}

.width-95{
	width: 95% !important;
}

.width-30{
	width: 30% !important;
}

.col-offset-1{
	margin-left: 15% !important;
}

.col-offset-2{
	margin-left: 10% !important;
}
.hoverButtom{
	background-color: @colorPrimaryTwo;
	transition: all 0.2s ease-in-out;
}

.margin-top-none{
	margin-top: 0 !important;
}



/* fin configuracion inicial*/


/* inicio estilos del menu*/
.header{
	background-color: @colorSecundaryTwo;
	display:block;
}

.site-header{
	position: relative;
	z-index: 700;
	& ul {
		& li{
			display: inline-block;
			list-style: none;
		}
	}
}

.Superior{
	padding-top: 1.8%;
}
	/*barra correo*/ 


.top-bar{
	color: @colorSecundarythree;
	padding: 0.5%;
	background-color: @colorSecundaryOne;
	font-weight: 700;
	font-size: 15px;
	& ul{
		margin-block-start: 0;
		margin-block-end: 0;
		margin-inline-start: 0;	
		margin-inline-end: 0;
		}
}



.wt-topbar-center{
	text-align: center !important;
	//width: 1170px;
	&:before{
		display: table;
		content: "";
	}
}

/* fin barra correo*/


/* inicio menu superior*/


.logo-Header{
	width: 17.5%;
	display: flex;
	justify-content: center;
	float: left;

	& img{
		width: 60%;
	}
}
.busqueda{
	width: 25%;
	display: flex;
	justify-content: left;
	float: left;
	& input{
		.shadowTwo;
		border-radius:0 0 0 15px;
		padding: 10px;
		border-style: none;
		font-size: 15px;
		width: 100%;

	}& i{
		background-color: @colorPrimaryOne;
		color: @colorSecundarythree;
		font-size: 20px;
		display: flex;
   		justify-content: center;
   		align-items: center;
   		padding: 10px;
   		border-radius:0 15px 0 0;
   		.shadowIcon;
	}
	
}

.division{
	width: 14%;
	display: flex;
	float: left;
}

.central{
	width: 20%;
	display: flex;
	justify-content: flex;
	float: left;
	& a{
		.shadowTwo;
		border-radius:0 0 15px 0;
		padding-top: 3%;
		padding-inline-start: 10px;
		font-size: 20px;
		background-color: @colorSecundarythree;
		color: @colorSecundaryOne;
		width: 100%;

	}& i{
		background-color: @colorPrimaryOne;
		color: @colorSecundarythree;
		font-size: 20px;
		display: flex;
   		justify-content: center;
   		align-items: center;
   		padding: 10px;
   		border-radius:15px 0 0 0;
   		z-index: 1;
   .shadowIcon;
  
	}
}

.redes-sociales{
	display: flex;
	justify-content: center;
	float: none;
	width: 15%;
	}& i{
		background-color: @colorPrimaryOne;
		color: @colorSecundarythree;
		font-size: 20px !important;
		display: flex;
   		justify-content: center;
   		align-items: center;
		padding: 10px;
   		border-radius:7px 7px 7px 7px;
   		 &:hover{
	   		.hoverButtom;
   		}&:active{
			background-color: @colorSecundaryOne;
		}&.iconSocial{
		margin-left: 5px;
		}
}
/* fin menu superior*/

/* inicio menu inferior */

.nav-is-stuck {
& .top-bar{
	display: none;
}
& .header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
	animation: stickAnim .3s;

	
}

& .menu-inferior{
margin-top: 0;
margin-bottom: 0;
}

& .carrito{
	padding-top: 0;
}

}


.nav-is-stuck {
.header-2{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
	animation: stickAnim .3s;
	
}
}





.header-2 {
	

	& i {
	float: left;
		position: relative;
		font-size: 90px !important;	
		background-color: inherit;
		color: @colorPrimaryOne;
		margin-top: 0%;
		margin-left: 5%;
	
		
	}
	& a{
		& img{
			margin-top:-4%; 
		margin-left:10%;
		}
		

	}
}

.menu{
	//background: @colorSecundaryTwo;
	display: flex;
	width: 100%;

	& ul{
		margin-left: 23%;
		margin-right: -8%;

		& li{
			align-items: center;
			list-style: none;
			display: inline-block;
			padding: 15px;
			margin: 10px;
			z-index: 1;
		}
	}& .secciones{
		font-size: 20px;
		font-weight: 600;
		& a{
			color: @colorPrimaryTwo;
		}& a:hover{
 			color: @colorPrimaryOne;
 			transition: all .2s ease-in-out;
		}
	}& .productos{
		background: @colorPrimaryOne;
		color: @colorSecundarythree;
		border-radius:17px 17px 17px 17px;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 5px;
		z-index: 999;
		&:hover{
			.hoverButtom;
			border-radius:17px 17px 0 0;
		}
		
	}
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
.site-header{

& .sub-menu{
 	display:none;
	 position: absolute;
	 margin-top: .8%;
	 margin-left: -9%;
	 z-index: 0;
	 width: 25%;
	 border-radius: 20px 20px 20px 20px;
	 background-color: @colorSecundaryTwo;
	 transition: all ease 0.5s ;
	 .shadow;
		& ul{
			position: relative;
			display: block;
			justify-content: center;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;

			
		& li {
			padding-right: 2%;
			padding-left: 2%;
			text-align: left;
			padding: 0;
			width: 95%;
			border-bottom: 1px solid @colorPrimaryOne ;
			& h2{
				margin-top: 4px;
				margin-bottom: 7px;
				font-size: 14px;
				& a.text-primary:hover{
					color: @colorPrimaryTwo !important;
			}
			}
			&:last-child{
				border-bottom: 0;
		}
		}
}&:hover{
	display: block;	
	animation-duration: 0.5s ;
	animation-name: ork;
		}
}
animation-duration: 0.5s ;
 animation-name: ork2;
}




.productos:hover > .sub-menu
{
	display:block;
	animation-duration: 0.2s ;
	animation-name: ork;
}




@keyframes ork{
	from{
		margin-top: 2%;
		opacity: 0;
	}
	to{
		margin-top: .9%;
		opacity: 1;
	}
}


.visible{
	display: block !important;
}




.menu-inferior{
	width: 63%;
	justify-content: left;
	background-color: inherit !important;
}


/*icono carrito*/
.carrito{
	width: 12%;
	padding-top: 1%;
	
	& .cantidad{
		border-radius:10px 10px 10px 10px;
		font-size: 23px;
		color: @colorSecundarythree;
		padding:6%;
		width:40%;
		margin-top: 10%;
		background-color: @colorPrimaryOne;
		.shadow
	}
	//margin-top: 30px;
	& .circulo{
		font-size: 20px;
		color: red;
		margin-left: 15%;
		display: inline;
		padding:5% 10% 5% 10%;
		border-radius:50%;
		font-weight: 600;
		background-color: @colorSecundarythree;
	 
	}
}

/* end  carrito */






/*fin menu inferior*/

/* fin estilo del menu*/


.horizontal {
    display: flex;
    align-items: center;
    margin: 0 auto;
}



/* inicio slider */

.slider{
	height: 460px;
	background: @colorGradient;
}


.slider-little{
	position: relative;
	height: 200px;
	background: @colorGradient;
	img{
width: 100%;
height: 100%;
position: relative;
	}
	h1{
		animation-duration: 3s;
    animation-name: textoHeader;
		position: absolute;
		top: 15%;
		left: 20%;
		text-shadow: -4px 5px 4px #000;
		font-size: 45px;
		color: @colorSecundarythree;
		width: 60%;

	}
	h2{
		animation-duration: 3s;
    animation-name: textoHeader;
		position: absolute;
		top: 15%;
		left: 20%;
		text-shadow: -4px 5px 4px #000;
		font-size: 40px;
		color: @colorSecundarythree;
		width: 60%;

	}
}
/* fin slider*/
@keyframes textoHeader {
    from {
        top: 15%;
        left: -20%
    }
    to {
        top: 15%;
        left: 20%
    }
}

/* inicio nessletter */

.newsletter{
	background-color: @colorSecundaryFive;
	height: 120px;
	position: relative;
	&:after{
	content: "";
	position: absolute;
	left: -58%;
    z-index: 1;
	background: @colorPrimaryTwo;
    display: block;
    height: 100%;
    box-shadow: 0 0 8px -5px @colorSecundaryOne;
    -webkit-box-shadow: 0 0 8px -5px @colorSecundaryOne;
    -moz-box-shadow: 0 0 8px -5px @colorSecundaryOne;
    border-radius: 0 0 105px 0;
    width: 115%;

	}
}

.mensajeNewsletter{
	width: 55%;
	position: relative;
	z-index: 5;
	padding: 2%;
	display: flex;
	float: left;
	& i{
		background-color: inherit;
		font-size: 45px !important;
	}& .icono{
		align-items: center;
		padding-left: 40%;
		display: flex;
		float: left;
	}
	
	& .texto {
		padding-top: 0;
	padding-left: 60%;
	width: 100%;
	color: @colorSecundarythree;
	& h4{
		margin-top: 6px;
		margin-bottom: 0;
	}
	}
	
}
.suscripcion{
	margin-top: 1.5%;
	width: 30%;
	padding: 2%;
	position: relative;
	z-index: 10;
	display: flex;
	float: left;
}
/* fin newsletter */


/* inicio categorias destacadas */
.header-panel{


.separador{
	
	display: inline-block;
	height: 3px;
	width: 50px;
	position: relative;
	& .separator-left{
		left: -800%;
		position: absolute;
		top: 50%;
		width: 800%;
		height: 3px;
		margin-top: -1px;
		background-color: @colorPrimaryTwo;
	} 
	& .separator-right{
		position: absolute;
		right: -800%;
		top: 50%;
		width: 800%;
		height: 3px;
		margin-top: -1px;
		background-color: @colorPrimaryTwo;
	}
	& i {
		background-color: inherit;
		color: @colorPrimaryTwo;
		padding: 0;
		font-size: 30px !important;
	}
}
& h2{
	font-size: 30px;
	color: @colorPrimaryTwo;
}

}

.body-panel{
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	display: flow-root;
	& .columna-1{
		width: 40%;
		display: flex;
		float: left;
		margin-right: 5%;
		position: relative;
		background-color: @colorSecundaryTwo;
		height: 400px;
		.shadow;
		img{
			width: 100%;
			height: 100%;
		}
	}
	& .columna-2{
		display: flex;
		position: relative;
		width: 55%;
		height: 400px;
		& .fila-1{
			height: 190px;
			width: 100%;
			position: relative;
			.shadow;
			img{
				width: 100%;
				height: 100%;
			}
		}
		& .fila-2{
			margin-top: 210px;
			height: 190px;
			width: 100%;
			position: absolute;
			.shadow;
			img{
				width: 100%;
				height: 100%;
			}
			
		}
	}
	& h2{
		font-size: 20px;
	color: @colorPrimaryTwo;
	text-align: center;
	padding-top: 3%;
	}
	& 
	& p{
		margin:5% 10% 10% 20% ;

		text-align: left;
		font-size: 16px;
	}
	h3{
		font-size: 30px;
	}
}
/* fin categorias destacadas */


/* inicio area nosotros */

/* index */
.separador1{
	display: flex;
	position: relative;
	float: left;
	width: 90%;
	margin-left: 10%;
	.separator-left{
		
		position: relative;
		left: 0%;
		top: 50%;
		width: 90%;
		margin-left: 5%;
		margin-right: 2.5%;
		height: 2px;
		margin-top: 10px;
		background-color: @colorPrimaryTwo;
	} 
	& .separator-right{
		position: relative;
		right: -2%;
		top: 50%;
		width: 90%;
		margin-left: 2.5%;
		margin-right: 7.5%;
		height: 2px;
		margin-top: 10px;
		background-color: @colorPrimaryTwo;
	}
	& i {
		margin-left:2.5% ;
		margin-right: 2.5%;
		background-color: inherit;
		color: @colorPrimaryTwo;
		padding: 0;
		font-size: 20px !important;
	}
}

/* index */



/* fin area nosotros */


/* columnas personalizadas */

.col{
	width: 100%;
}



.col-1-4{
	position: relative;
	justify-content: center;
	text-align: center;
	float: left;
	margin: 1%;
	width: 23%;
	background-color: @colorSecundarythree;
	background-size: cover;
	border-radius: 15px;
	.shadow;

	& img{ position: relative;
		margin-top: 10px;
		width: 90%;
		height: 60%;
		margin-left: 5%;

	}
	h2{
		z-index: 1;
		position: relative;
		font-size: 18px;
		padding-left: 5%;
		padding-right: 5%;
		text-align: center;
		a{
		color: @colorSecundaryOne !important;	
		}
		
	}

}
.col-1-2{
	
	position: relative;
	//display: flex;
	float: left;
	width: 48%;
	margin: 1%;
	//.shadow;
	& img{
		width: 90%;
		margin-left: 5%;
	}
	h2{
		font-size: 30px;
		text-align: left;
		color: @colorSecundaryOne;
	}
	.header-panel{
		h1{
			font-size: 24px;
		}
	}
}


.col-1-2-modific{
	position: relative;
	//display: flex;
	float: left;
	width: 52%;
	margin: 1%;
	//.shadow;
	.header-panel{
		h1{
			font-size: 24px;
		}
		p{
			font-size: 15px !important;
			text-align: justify;
			line-height: 150%;
		}
		img{
			margin-top: 30px;
			width: 100%;
		}
	}
}

.col-1-3-modific{
	position: relative;
	//display: flex;
	float: left;
	width: 35%;
	margin: 1%;
	h4{
		font-size: 20px !important;
		margin-left: 10%;
	}
	ul{
		margin: 0;
		list-style: none;
		padding: 0;
		padding-top: 15%;
		li{
			float: left;
			a{
				background-color: #fff;
				border-bottom: 1px solid #fff;
				border-top: 1px solid @colorborder;
				border-left: 1px solid @colorborder;
				border-right: 1px solid @colorborder;
				padding: 15%;
    			color: @colorSecundaryOne;
			}
		}
	}
	.contenido{
	padding: 10px;
    border: 1px solid @colorborder;
	margin-top: 31px;
	background-color: @colorSecundarythree;
	}
}
.width-60{
 h1{
	 margin-left: 10%;
 }
}

.width-30{
	h4{
		margin-left: 10%;
	}
	ul{
		margin: 0;
		list-style: none;
		padding: 0;
		padding-top: 15%;
		li{
			float: left;
			a{
				background-color: #fff;
				border-bottom: 1px solid #fff;
				border-top: 1px solid @colorborder;
				border-left: 1px solid @colorborder;
				border-right: 1px solid @colorborder;
				padding: 16%;
    			color: @colorSecundaryOne;
			}
		}
	}
	.contenido{
		padding: 10px;
		border: 1px solid @colorborder;
		margin-top: 31px;
		background-color: @colorSecundarythree;
		}
}

.margin-left-none{
	margin-left: 0 !important;
}

.margin-left-10{
	margin-left: 10%;
}

.margin-right-none{
	margin-right: 0 !important;
}
.mensaje-nosotros{
	font-size: 30px !important;
	color: @colorSecundaryOne !important;
}

.width-100{
	width: 100%;
}
.margin-buttom-5{
margin-bottom: 5%;
}

.margit-top-10{
 margin-top: 10px;
}

.paddin-li{
	li{
padding-bottom: 10px;

	}
	
}

.padding-left-right{
	padding-left: 5% !important;
	padding-right: 5% !important;
	padding-top: 1% !important;
	padding-bottom: 1% !important;
}
.color-invese{
	color: @colorPrimaryOne !important;
	background-color: @colorSecundarythree !important;
}

.color-alert-error{
	color: @colorDangerOne;
}
.background-alert-error{
	background-color: @colorDangertwo;
}
.borde-alert-error{
	border: 2px solid @colorDangertree;
}

.margin-2{
	margin: 2%;
}

.width-40{
	width: 40%;
}
.width-60{
	width: 56%;
}
.col-1-3{
	
	position: relative;
	display: flex;
	float: left;
	width: 70%;
	margin: 1%;
	//.shadow;
	& img{
		width: 90%;
		margin-left: 5%;
	}
}

.col-1-2-img{
		
	position: relative;
	float: left;
	height: 100%;
	width: 48%;
	margin: 1%;
	margin-bottom: 30px;
	p{
		margin: 3% !important;
	}

}

.Categorias.col-1-4{
	.container{
		width: 90%;
		margin-left: 5%;
		margin: 5%;
	}
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-top: 3%;
	.body-panel{
		margin-left: 0;
		margin-right: 0;
		.col-1-4{
			width: 100%;
			border-radius: 0 14px 0 14px;
			.header-categoria {
				background-color: @colorPrimaryOne;
				background-size: cover;border-radius: 0 14px 0 14px;
				margin-bottom: 5%;
				
				h3{
					margin-top: 0;
					padding-top: 3%;
					margin-bottom: 0;
					padding-bottom: 3%;
					color: @colorSecundarythree;
					font-size: 30px;
					
				}


			}
			.body-category{
				



				li{
					list-style: none;
				}
				h4{
					font-size: 15px;
					text-align: left;
					margin-right: 15px;
					i{
						background: none;
						color: @colorPrimaryOne;
						padding: 0;
						margin-left: -9%;
					}
					a{
						color: @colorSecundaryOne !important;
					}
					
				}
			}
			
			
			.shadow
		}
	}
	
}

.container.Productos{
	width: 100%;
	.body-panel{
		p{
			font-size: 25px;
			margin: 0;
			display: inline;
		}
		margin-left: 0;
		margin-right: 0;
		.header-panel{
			.cabecera-1{
				position: relative;
				width: 50%;
				//margin-right: 0;
				float: left;
			}
			.cabezera-2{
				width: 50%;
				position: relative;
				float: right;

				
				

			}
			i{
				
				background: none;
				color: @colorPrimaryOne;
				font-size: 35px !important;
				
			}.trasparence{
				color: @colorPrimaryTrasparence;
			}
		}
	}

	.col-1-4{
		width: 23%;
	}
	
}


.col-footer-1 {
	text-align: center;
	width: 30%;
	float: left;
	//height: 350px;
	align-content: center;
	 & .separator-right{
		top: 0%;
	}& h4{
		font-size: 20px;
		padding-left: 10%;
	}& .redes-sociales{
		width: 100%;
		padding-left: 7%;
		padding-top: 10%;

	}& .logo-footer{
		align-content: center;
		& img{
			padding-top: 10%;
			padding-left: 15%;
			width: 70%;
		}
		
	}

}



.col-footer-2 {
	width: 30%;
	float: left;
	//height: 350px;
	& .separator-right{
		top: 0%;
	}& i{
		height: 26px;
	}& h4{
		font-size: 20px;
		padding-left: 25%;
	}




.container{
display: flex;
padding-right: 0;
padding-left: 13%;
width: 90%;

.sub-col-1{
	width: 30%;
	float: left;
	padding-top: 15px;
	
	& img{
		width: 100%;
	}
	}
	.sub-col-2{
		width: 66%;
		float: left;
		padding-top: 15px;
		margin-left: 10px;
		& h4{
			margin: 0;
			padding-left: 0;
			padding-bottom: 5%;
			font-size: 14px;
		}
	}
	
}

}


.col-footer-3 {
	width: 40%;
	float: left;
	//height: 350px;
	& .separator-right{
		top: 0%;
	}& i{
		height: 26px;
	}& h4{
		font-size: 20px;
		padding-left: 22%;
	}
	.container{
		display: flex;
		padding-right: 0;
		padding-left: 13%;
		width: 90%;
		
		.sub-col-1{
			width: 10%;
			float: left;
			padding-top: 15px;
			
			& i{
				background-color: inherit !important;
				color: @colorPrimaryOne;
				font-size: 25px !important;
				padding: 0 !important;
			}
			}
			.sub-col-2{
				width: 86%;
				float: left;
				padding-top: 15px;
				margin-left: 10px;
				margin: 0;
					padding-left: 0;
					padding-bottom: 5%;
					font-size: 13px;
					font-weight: bold;
				& a{
					margin: 0;
					padding-left: 0;
					padding-bottom: 5%;
					font-size: 13px;
					font-weight: bold;
				}
			}
			
		}

}

/* fin columnas personalizadas */



/* separador */
.separador-full{
	margin-top: 30px;
	height: 132px;
	background-repeat: no-repeat;
	background-image: url('../images/Degradado.png') ;
	& h2{
		padding-top: 50px;
		font-size: 35px;
		color: @colorSecundarythree;
	}
}

.separador-full-2{
	position: relative;
	margin-top: 30px;
	height: 264px;
	background-repeat: no-repeat;
	background-size:cover;
	background-image: url('../images/Degradado-1.png') ;
	img{
		width: 15%;
		margin-bottom: 5%;
		margin-top: 5%;
	}
	div{
		font-weight: 600;

	}

.col-1-2{
	width: 47% ;
	padding-bottom: 2%;

}
	.border{
		border: 1px  solid @colorSecundarythree;
	}
	h2{
		font-size: 30px;
		padding-top: 0;
	}
}
.resize{
	height:290px;
}
/* fin separador */



/* inicio footer */
footer{ 
	display: flow-root;
	padding-top: 2%;
	background-color: @colorSecundaryOne;
	color: @colorSecundarythree;
	width: 100%;

	
}

.copyright{
	background-color: @colorSecundaryFour;
	background-size: cover;
	//height: 65px;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 2%;
	h4{
		margin-bottom: 0;
       // padding-bottom: 5%;
	}
}
/* final footer */





/* estilo de boton call to action */

.buttom{
	position: relative;
	background-color: @colorPrimaryOne;
	color: @colorSecundarythree;
	font-size: 25px;
	border-radius:15px 15px 15px 15px;
	border-style: none;
	height: 10%;
	margin-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 5%;
	.shadow;
	&:hover{
		.hoverButtom;
	}&:active{
		background-color: @colorSecundaryOne;
	}
}

.cotizado{
	 background-color: @colorSecundaryOne !important;
	 pointer-events: none;
	 display: none;
}
/* fin estilo de boton call to action */

/* inicio caja de texto con icono*/
 .inputIcon{
	.shadowTwo;
	border-radius: 15px 0 0 0;
	padding: 10px;
	border-style: none;
	font-size: 20px;
	width: 80%;
 }
.iconInput{
	background-color: @colorPrimaryOne;
		color: @colorSecundarythree;
		font-size: 20px;
		display: flex;
   		justify-content: center;
   		align-items: center;
   		padding: 10px;
   		border-radius:0  0 15px 0;
   		.shadowIcon;
}
/* final cajade texto con icono */

/* texto centrado */ 
.text-center{
	text-align: center !important;
}
.background-none{
	background-color: transparent !important;
}

/* color primario */
.bg-primary{
	background-color: @colorPrimaryOne !important;
}
.text-primary{
	color: @colorPrimaryOne !important;
}

.text-white{
	color: @colorSecundarythree !important;
}

.background-primary{
	background-color: @colorPrimaryOne !important;

}

.background-white-two{
	background-color: @colorSecundaryTwo;
}

.text-primary-two{
	color: @colorPrimaryTwo;
	height: 110px;
	a{
		color: @colorPrimaryTwo !important;
	}
}
.header-2{
	display: none;
	padding-top: 4%;
	padding-bottom: 4%;
		background-color: @colorSecundarythree;
		width: 100%;
}

#menu_on{
	display: block;
	width:100px;
	height: 60px;
	margin-right: 8%;
	position: relative;
	margin-top: 4%;
	float: right;
	z-index: 2;
}
 
#menu_on span{
	width: 100%;
	height: 7px;
	border-radius: 4px;
	display: block;
	position: absolute;
	background:@colorPrimaryOne;
	transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
	transform-origin : 0px 100%;
}
 
#menu_on span:nth-child(2){
	top: calc(50% - 2px);
}
 
#menu_on span:nth-child(3){
bottom: 0;
}

nav{
	position: fixed;
	top: 0;
	bottom: 0;
	left:-800px; /* Escondemos nuestro menú con un valor negativo */ 
	width: 70%;
	z-index: 1;
	padding: 90px 30px 30px;
	background:@colorSecundaryTwo;
	opacity: 0;
	transition: all 0.75s ease;
	font-size: 1.2em;
	overflow-y: auto;
}

.site-header nav li{
	padding: 13px;
	display: list-item;
	font-size: 45px;
}
nav a{
	display:block;
	text-decoration: none;
	padding: 10px;
	color: @colorPrimaryTwo;
	border-bottom: 1px solid @colorPrimaryOne;
	transition: all ease 0.25s;
}

nav ul li ul{
	background-color: @colorSecundarythree;
	border-radius: 20px;
	padding-left:3px ;
}
 
nav a:hover{
	//color: rgba(255,255,255,1);
	border-bottom-color:rgba(255,255,255,0.4);
}

.visible_menu #menu_on span:nth-child(1){
	transform: rotate(37deg) translate(-2px,1px); 
}
 
.visible_menu #menu_on span:nth-child(2){
	opacity: 0;
}
 
.visible_menu #menu_on span:nth-child(3){
	transform: rotate(-37deg) translate(-3px,3px); 
}

.visible_menu  nav{
	left: 0px;
	opacity: 1;
}

.visible_menu #content{
      transform: translateX(230px);
}


@keyframes stickAnim {
	0% {
		transform: translateY(-25%);
	}
	
	100% {
		transform: translateY(0);
	}
}

.subMenu{

.destacado{
	
		 background-color: @colorPrimaryOne !important;
		 color: @colorSecundarythree !important;	
		 border-radius: 10px;
		 padding: 15px;
	
 
}
	& a:active:hover{
		color: @colorPrimaryTwo;
		i{
			margin-left:45% !important ;

		}
		
	}

	
& i {
			margin-left: 45%;
			font-size: 40px !important; 
			&:active{
				color: @colorSecundaryFive;
				margin-left:45% !important ;
			}	
		}
}

.children{
	animation: subMenu2 0.2s;
display:none;
	
}

.children-visibilite{
	display: block;
	animation: subMenu 0.2s;
	& li{
		background-color: @colorSecundarythree;
	padding: 5px !important;
	border-radius: 20px !important;

	& a{
		font-size: 25px;
		color:@colorPrimaryOne;
		border: 2px solid @colorPrimaryTwo;	
		border-radius: 20px !important;

	}
	
	}
	

}

@keyframes subMenu {
	0% {
		transform: translateX(100%);
	}
	
	100% {
		transform: translateX(0%);
	}
}

@keyframes subMenu2 {
	0% {
		transform: translateX(0%);
	}
	
	100% {
		transform: translateX(100%);
	}
}



.ir-arriba{
	display:none;
	font-size:25px !important;
	cursor:pointer;
	position:fixed;
	bottom:30px;
	right:30px;
	z-index:2;
	i{
		padding: 0;
	}
  }

  .combo-Input{
	  width: 100%;
	  i{
	
    background-color: #afca52;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius:  15px 0 0 0;
    -webkit-box-shadow: 3px 0px 10px 0px #284561;
    -moz-box-shadow: 3px 0px 10px 0px #284561;
    box-shadow: 3px 0px 10px 0px #284561;
	  }
	  input{

	  
		-webkit-box-shadow: 0px 0px 5px 0px #284561;
		-moz-box-shadow: 0px 0px 5px 0px #284561;
		box-shadow: 0px 0px 5px 0px #284561;
		border-radius: 0 0 15px 0;
		padding: 10px;
		border-style: none;
		font-size: 15px;
		width: 100%;

}
textarea{

	  
	-webkit-box-shadow: 0px 0px 5px 0px #284561;
	-moz-box-shadow: 0px 0px 5px 0px #284561;
	box-shadow: 0px 0px 5px 0px #284561;
	border-radius: 0 0 15px 0;
	padding: 10px;
	border-style: none;
	font-size: 15px;
	width: 100%;

}

margin-bottom: 50px;
display: flex;
    justify-content: left;
    float: left;
  }




  .wt-icon-box-wraper{
	text-align: center;
	position: relative;
	border-width: 1px;
    border-style: solid;
	border-color: #ddd;
	margin-top: 80px;
	background-color: @colorSecundaryTwo;
	width: 100%;
	
	.wt-icon-box-sm{
		position: absolute;
    top: 0;
    left: 30%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	transform: translateY(-50%);
	border: 3px solid @colorPrimaryTwo;
	
	i{
		background-color: @colorSecundarythree;
		color: @colorPrimaryTwo;
		font-size: 70px !important;
	}

	}
	.icon-content{
		overflow: hidden;
	padding-top: 4%;
	padding-bottom: 5%;
	width: 100%;
	h5{
		font-size: 18px !important;
	}
	a{
		color: @colorSecundaryOne;
	}
}
	}

	.col-1-3{
		.wt-icon-box-sm{
		left: 44%;
		}
	}

	.col{
		background-color: @colorSecundaryTwo;
		display: flex;
		img{
			width: 40%;
			float: left;
			margin-left: 0;
			margin-bottom: 0;
			vertical-align: text-top;
		}
		.contenido{
			float: left;
			
			h3{
			width: 100%;
			font-size: 20px;
			padding-left: 15px;
			margin-bottom: 5px;
			
			
		}
		p{
			width: 90%;
			padding-left: 15px;
			font-size: 10px;
			margin-bottom: 0;
		}
		.buttom{
			height: auto;
			border-radius: 15px 0 15px 0;
			margin-left: 15px;
			margin-bottom: 5px;

			i{
				font-size: 25px !important;
				padding: 0 !important;
			}
		}
		}
		
	}
	.articulos{
		.col-1-2{
			img{
				width: 100%;
				margin-left: 0;
				
			}
			h3{
				width: 100%;
				font-size: 20px;
				padding-left: 15px;
				height: 70px;
				a{
						color: @colorSecundaryOne !important;

				}
				
				
			}
			p{
				width: 90%;
				font-size: 14px;
				padding-left: 15px;
				height: 110px;
				
				
			}
			.buttom{
				height: auto;
				border-radius: 15px 0 15px 0;
				margin-left: 15px;
				margin-bottom: 10%;
	
				i{
					font-size: 25px !important;
					padding: 0 !important;
				}
			}
			
		}
		
		
	}

.articulo{
	span{
		font-weight: 700;

	}
	a{
		font-weight: 700;
		color: @colorSecundaryOne !important;
	}
}

.cotizacion{
	img{
		width: 12%;
		margin: 10px;
	}
	p{
		font-weight: 700;
		width: 40%;
	}
	.cantidads{
		position: relative;
		display: flex;
		border-left: 2px solid @colorPrimaryTwo;
		border-right: 2px solid @colorPrimaryTwo;
		padding: 10px;
		margin: 15px;
		width: 25%;
		input{
			float: left;
			width: 50%;
			height: 40%;
			margin-top: 6%;
			margin-left: 5%;
			padding-left: 15%;
			font-size: 25px;
			.border;
			.shadow;
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
  			-webkit-appearance: none;
		}

/* Firefox */
		input[type=number] {
  			-moz-appearance: textfield;
		}
	}
	.buttom{
		padding-right: 1%;
		padding-left: 1%;
		font-size: 20px;

	}
	h5{
		font-size: 20px;
	}
}

	.pagination{
		position: relative;
		.atras{
			border-radius: 0 0 0 15px;
		}
		.adelante{
			border-radius: 0 15px 0 0;
		}
		
		li{
			display: inline;
			background-color: @colorSecundaryOne;
			background-size: cover;
			padding: 10px;
			font-size: 18px;
			&:hover{
				background-color: @colorPrimaryTwo;

			}
			a{
				padding: 10px;
				margin-top: 15px;
				


			}
		}
		.active{
			background-color: @colorPrimaryTwo;
		}
		.disabled{
			cursor: not-allowed;
		}
		
	}
	.centrado{
		position: relative;
	}
	

blockquote {
    padding: 16px 20px 16px 80px;
    font-size: 18px;
    font-style: italic;
    color:@colorSecundaryOne;
    margin: 40px 0;
    border-left: none;
    line-height: 20px;
    position: relative;
    background:@colorSecundaryTwo;
    clear: both;
	width: 90%;
	border-radius: 20px;
	&::before
		{
			content: '\f10d';
			font-family: FontAwesome;
			color: @colorSecundaryOne;
			font-size: 35px;
			position: absolute;
			left: 20px;
			top: 20%;
			font-style: normal;
		}
		&::after
		{
			content: '\f10e';
			font-family: FontAwesome;
			color: @colorSecundaryOne;
			font-size: 35px;
			position: absolute;
			left:90%;
			top: 69%;
			font-style: normal;
		}
		p{
			width: 90%;
		}
	}


	

	.modalContainer {
		display: none; 
		position: fixed; 
		z-index: 1;
		padding-top: 15%;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%; 
		overflow: auto; 
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.4);
		-webkit-transition: opacity 1000ms ease-in;
    -moz-transition: opacity 1000ms ease-in;
    transition: opacity 1000ms ease-in;
		
	}

	.modalContainer .modal-content {
		background-color: #fefefe;
		margin: auto;
		padding: 30px;
		border: 1px solid lightgray;
		border-radius: 20px;
		border-top: 10px solid @colorPrimaryOne;
		width: 60%;
		
		
	}

	.modalContainer .close {
		color:@colorDangerOne;
		float: right;
		font-size: 58px;
		font-weight: bold;
	}

	.modalContainer .close:hover,
	.modalContainer .close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}